@model  IList<Invoice>

@{
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>No</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var invoice in Model)
        {
            <tr>
                <td>@invoice.Id</td>
                <td>@invoice.InvoiceNo</td>
                <td>@invoice.Date.ToShortDateString()</td>
                <td>
                    <a asp-action="Invoice"asp-route-id="@invoice.Id">Open</a>
                </td>
            </tr>
        }
    </tbody>

</table>